---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="yugain refer to earn">
  <section class="margin-48">
    <div class="container">
      <h1>Earn $ada by referring delegators to stake pools</h1><br>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <h2 class="margin-16 bottom">How it works?</h2>
    </div>
    <div class="container" data-auto-grid="3">
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in">
        <h3>Step1: Bring delegators</h3>
        <p>If you have an audience, you can recommend them the our stake pools to earn $ada. </p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.25s">
        <h3>Step2: Spo mints blocks</h3>
        <p>The delegators you have sent to the stake pools will help them to get chances of minting blocks.</p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.5s">
        <h3>Get a cut on the SPO earnings</h3>
        <p>A part of the $ada earned by the stake pool will be given to the referrer. </p>
      </div>
    </div>
    <div class="container margin-16 top">
    </div>
  </section>
  <section class="margin-64">
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>12 Column Grid</h2>
        </div>
        <div class="small-12 medium-3 space-content">
          <h3>Yugain benefits</h3>
          <ul>
            <li>Transparency because it's built on cardano.</li>
            <li>Earn $ada with your audience.</li>
            <li>Build a passive income with the recurring payments</li>
            <li>Easy to use.</li>
          </ul>
        </div>
        <div class="small-12 medium-8 offset-medium-4 space-content">
          <h3>Yugain in depth</h3>
          <p>1) Most SPOs do not survive due to lack of delegates. These stake pools operators are usually technically sound but lack the knowledge to market their pools properly. Our solution to this problem is to bring marketers who are able to bring the audience necessary to the pools. (To kickstart the project we will run our own stake pools. Later we will open the protocol to third party stake pools)
</p>
          <p>2) Marketers have the knowledge to grow an audience and attract users. They need options to monetize the audience that took hard work to build. These marketers are usually youtubers, bloggers, social media influencers and so on. However, in order for the partnership between SPOs and marketers to work, a third party that can arbitrate is needed.</p>
          <p>3) Our platform will act as a third party whose goal is to facilitate and arbitrate the partnership between the SPO and the marketers.
We need a website with all the available SPOs in the program where the delegators can delegate directly to the pool.
Marketers will get affiliate links tied to the stake pool they want to promote. Thanks to this link, we will be able to read all the information needed to calculate the rewards for the and the marketer.
</p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
